.App {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App__content {
    display: flex;
    width: 80%;
    height: 90%;
    justify-content: space-between;
    align-items: center;
    padding: 20rem 0;
}

input[type=text] {
    border: 2px solid white;
    border-radius: 1.5rem;
    outline-color: aqua;
    -webkit-box-shadow:
        inset 0 0 8px rgba(0, 0, 0, 0.1),
        0 0 16px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:
        inset 0 0 8px rgba(0, 0, 0, 0.1),
        0 0 16px rgba(0, 0, 0, 0.1);
    box-shadow:
        inset 0 0 8px rgba(0, 0, 0, 0.1),
        0 0 16px rgba(0, 0, 0, 0.1);
    padding: 15px;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 20px 10px 10px;
}

label {
    font-weight: 800;
}

button {
    width: 100px;
    height: 40px;
    border-radius: 1rem;
    background: #5997ac;
    transition: background 0.5s linear;
    border: none;
    color: whitesmoke;
}

button:hover {
    background: #eeede7;
    color: #000;
}

a {
    color: whitesmoke;
    font-size: 0.9rem;
    text-decoration: none;
    font-weight: 700;
}

a:hover,
a:active {
    color: #000;
}